@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CCD5AE;
  border: 0;
  font-weight: 400;
}
button {
  font-family: inherit;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: white;
  border: 3px solid #D07821;
  color: black;
}
button:hover {
  background-color: darken(white);
  color: rgb(148, 141, 141);
  border: 3px solid rgb(232, 232, 232);
  transition: all 250ms linear;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: #D07821;
}


/* Style for banner */
.banner {
  background: url(/images/desktop_banner.jpg);
  background-size: cover;
  position: relative;  /* for the store title */
  width: 60vw;
  height: 100vh;
}
.shop-name {
  display: flex;
  background-color: #faedcdcd;
  position: absolute;
  top: 45%;
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
.shop-name img {
  height: auto;
  width: 80px;
  margin-right: 10px;
}
.shop-name p {
  font-size: 40px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 10px;
}


.right {
  display: flex;
  flex-direction: column;
}
.dummy-text {
  font-size: 20px;
  padding: 50px 40px;
}
.content {
  background-color: #fefae0;
  padding: 3vw;
  margin-bottom: 40px;
  box-shadow: 0 10px 30px #8b956b;
  font-size: 20px;
}

/* Style for forms */
form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 50px;
  margin-top: 30px;
}
form > div {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
form button {
  width: 180px;  /** submit button is still a grid item */
  color: #D07821;
  font-size: 15px;
  font-weight: 500;
  background-color: #fefae0;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
  background-color: #fefae0;
  border: 1px solid #4b0c06;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
input:invalid:required {
  /* when input is required and is currently invalid */
  background-color: #fbcac6;
  border: 1px solid #ec4444;
}
input:valid:required {
  background-color: #ceeec3;
  border: 1px solid #07712a;
}
.warning-msg {
  color: red;
  font-size: 11px;
}


/* Style for the log in section */
.store-member {
  display: flex;
  margin-left: 50px;
  gap: 10px;
}



/* Desktop screen */
  @media only screen and (min-width: 961px) {
    body {
      display: flex;
    }
  }

/* Tablet screen */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .banner {
    background: url(/images/tablet_banner.jpg);
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .shop-name {
    top: 400px;
    padding: 10px;
  }
  .shop-name p {
    margin-top: 15px;
    margin-top: 15px;
  }
  .store-member {
    margin-bottom: 30px;
  }
}


/* Mobile screen */
@media only screen and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .banner {
    background: url(/images/mobile_banner.jpg);
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .shop-name {
    top: 200px;
    display: flex;
    align-items: center;
  }
  .shop-name p {
    margin-top: 10px;
    font-size: 40px;
  }
  .shop-name img {
    margin-right: 10px;
    width: auto;
    height: 50px;
  }
  form {
    grid-template-columns: auto;
  }
  .store-member {
    margin-bottom: 30px;
  }
  form {
    display: grid;
    grid-template-columns: auto;
  }
}