@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  background-color: rgb(232, 232, 242);
  border: 0;
}
button {
  margin-top: 50px;
  padding: 15px 30px;
  background-color: white;
  border: 2px solid rgb(161, 161, 161);
  color: black;
}
button:hover {
  background-color: darken(white);
  color: rgb(148, 141, 141);
  border: 2px solid rgb(232, 232, 232);
  transition: all 250ms linear;
}


/* Style for banner */
.banner {
  background: url(/images/desktop_banner.jpg);
  background-size: cover;
  position: relative;  /* for the store title */
  width: 60vw;
  height: 100vh;
}
.shop-name {
  display: flex;
  background-color: rgba(172, 172, 172, 0.844);
  position: absolute;
  top: 150px;
  width: 100%;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
.shop-name img {
  height: auto;
  width: 150px;
}
.shop-name p {
  font-weight: 00;
  margin-top: 50px;
}


.right {
  display: flex;
  flex-direction: column;
}
.dummy-text {
  font-size: 25px;
  padding: 50px 30px;
}
.content {
  background-color: white;
  padding: 3vw;
  margin-top: 50px;
  margin-bottom: 40px;
  box-shadow: 0 10px 30px rgb(213, 216, 219);
  font-size: 20px;
}

/* Style for forms */
form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 50px;
  margin-top: 30px;
}
.grid-cell {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}


/* Style for the log in section */
.store-member {
  display: flex;
  margin-left: 50px;
  gap: 10px;
}



/* Desktop screen */
  @media only screen and (min-width: 961px) {
    body {
      display: flex;
    }
  }

/* Tablet screen */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .banner {
    background: url(/images/tablet_banner.jpg);
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .shop-name {
    top: 250px;
    padding: 10px;
  }
  .shop-name p {
    margin-top: 15px;
  }
  .store-member {
    margin-bottom: 30px;
  }
}


/* Mobile screen */
@media only screen and (max-width: 400px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .banner {
    background: url(/images/mobile_banner.jpg);
    background-size: cover;
    width: 100vw;
    height: 500px;
  }
  .shop-name {
    display: flex;
    align-items: center;
  }
  .shop-name p {
    margin-top: 20px;
    font-size: 40px;
  }
  .shop-name img {
    margin-right: 10px;
    width: auto;
    height: 50px;
  }
  .dummy-text {
    padding-bottom: 0;
  }
  form {
    grid-template-columns: auto;
  }
  .store-member {
    margin-bottom: 30px;
  }
}